#filter-sort-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5em;
  align-items: center;
}

#pagination {
  /* flex-grow: 2; */
}

#photo-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}